.image img{
    width: 190px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 15px 5px 0px rgba(0,0,0,0.28);
}

.mainav ul{
    display: flex;
    padding-right:10px;
    padding-top: 25px;
}

.mainav ul li{
    padding-left: 12px;
    list-style: none;
    font-size: 20px;
}

.about{
    color: rgb(25, 167, 119);
}
.mainav ul li:hover{
    cursor: pointer;
    color: rgb(25, 167, 119);
}

.about +li , .about +li+li{
    color: #747474;
}

main{
    text-align: center;
    /* padding-top: 15px; */
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
}

h2{
    color: rgb(25, 167, 119);
    font-weight: 100;
    letter-spacing: 5px;
}

.para{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
p{
    padding-left: 10px;
    text-align: justify;
    padding-right: 15px;
    
}
